<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">New Pin</h1>
        <button class="button button-icon button-clear ion-close" id="menu-popover" data-ng-click="closeNewPinModal()"></button>

    </ion-header-bar>
    <ion-content>
        <div class="list">
            <button type="button"
                    class="button button-block button-calm ink"
                    ngf-drag-over-class="'btn-default'"
                    ngf-select="uploadFile($file)"
                    ngf-pattern="'image/*'">
                &nbsp;Image Upload
            </button>

            <!--<h3>{{returnImgaeGUID}}</h3>-->

            <img ng-src="{{srcImage || 'http://placehold.it/350x350'}}" id="srcImage" width="350 " height="350" style="display: block; margin: 0 auto;" />
            <br />
            <div class="row">
                <div class="col text-center">
                    <button class="button button-fab ink-dark button-assertive icon ion-camera" data-ng-click="takeImage()"></button>
                    <button class="button button-fab ink-dark button-balanced icon ion-images" data-ng-click="chooseImage()"></button>
                </div>
            </div>
            <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" data-ng-click="testCameraFile()">
                Test File
            </button>

            <label class="item item-input item-floating-label">
                <span class="input-label" aria-label="Pin message" id="message-1">Message :></span>
                <textarea rows="6" placeholder="Message" data-ng-model="newPin.message"></textarea>

            </label>
            <ion-toggle data-ng-model="newPin.isPrivate">
                Private Pin?
            </ion-toggle>
            <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" data-ng-click="postNewPin()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-modal-view>