<ion-view view-title="Pin Map">
    <ion-content>
        <button id="fab" class="button button-stable button-fab button-fab-bottom-right-second" data-ng-click="locationLoad()">
            <i class="icon ion-android-locate"></i>
        </button>
        <button id="fab" class="button button-positive button-fab button-fab-bottom-left" data-ng-click="openNewPinModal()">
            <i class="icon ion-plus"></i>
        </button>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>