<ion-view view-title="Pin Map">
    <ion-content>
        
		<div id="map" data-tap-disabled="true">
            <button id="fab" class="button button-stable button-fab button-fab-bottom-right-second" data-ng-click="locationLoad()">
                <i class="icon ion-android-locate"></i>
            </button>
            <button id="fab" class="button button-positive button-fab button-fab-bottom-right" data-ng-click="openNewPinModal()">
                <i class="icon ion-plus"></i>
            </button>
        </div>

	</ion-content>
</ion-view>